@font-face {
    /* https://fontmeme.com/fonts/minecraft-font/ */
    /* Converter used: https://www.font-converter.net/en */
    font-family: "Minecraft";
    src: url("../fonts/minecraftfont.ttf") format("truetype"), /* Safari, Android, iOS */
         url("../fonts/minecraftfont.woff") format("woff"), /* Modern Browsers */
         url("../fonts/minecraftfont.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}

/* This youtube video helped me make it so no white space was shown at the bottom of the screen when
I shrank the screen size down
https://www.youtube.com/watch?v=jNXrg0_KFBQ */
body {
    background: url(../images/backgroundPic.jpg) no-repeat
    center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: white;
    text-align: center;
    font-family: 'Minecraft';
    overflow-y: hidden;
    overflow-x: hidden;
}

img {
    height: auto;
    width: 100%;
}

.wrapper {
    margin: 10px auto;
    height: 500px;
    width: 60%;
    text-align: center;
}

.userChoice {
	border: 1px solid black;
    border-radius: 5%;
	width: 40%;
	color: white;
    text-align: center;
    margin: 20px 20px 0 20px;
    font-size: 15px;
    font-weight: bold;
    background-image: url(../images/minecraftlava.png);
    overflow-wrap: normal;
}

.btn {
    position: relative;
    bottom: -150px;
    background-color: transparent;
    border: none;
}

#reset {
    visibility: visible;
}

#TimeRemaining {
margin-top: 40px;
}

#questionsHere {
    margin-top: 40px;
}

#possibleAnswers {
    margin-top: 40px;
}

#startGame {
    background-image: url(../images/minecraftlava.png);
}